* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Sans-Serif;
}

body {
    margin: 0;
    height: 100vh;
    background: #000;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.navbar{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  font-family: "poppins", Sans-Serif;
  color: #0ef;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 500;
  margin-left: 35px;
}

.navbar:hover  a{
  transform: scale(1.5);
  opacity: -2;
  filter: blur(50px);
}

.navbar a:hover{
  transform: scale(2);
  opacity: 1;
  filter: blur(0px);
}

.Services {
    color: #fff;
    position: absolute;
    width: 100%;
    top: 15%;
}

.Services h2 {
  margin-bottom: 5rem;
  color: #fff;
  font-size: 50px;
  text-align: center;
  justify-content: center;
}

.Services-box h3 {
  font-size: 2.4rem;
}

.Services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.Services-container .Services-box {
  flex: 1 1 30rem;
  background: #323946;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid #1f242d;
  transition: .5s ease;
}

.Services-container .Services-box:hover {
  border-color: #0ef;
  transform: scale(1.02);
  
}

.Services h2 span {
    color: #0ef;
}

.Services-box I {
  font-size: 7rem;7rem
  color: #0ef;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}

p {
    margin-bottom: 20px;
}


